@font-face {
    font-family: "flaticon_mycollection";
    src: url("../fonts/flaticon_mycollection.ttf?09df6cee4267b312a3882a713ef8a7b0") format("truetype"),
url("../fonts/flaticon_mycollection.woff?09df6cee4267b312a3882a713ef8a7b0") format("woff"),
url("../fonts/flaticon_mycollection.woff2?09df6cee4267b312a3882a713ef8a7b0") format("woff2"),
url("../fonts/flaticon_mycollection.eot?09df6cee4267b312a3882a713ef8a7b0#iefix") format("embedded-opentype"),
url("../fonts/flaticon_mycollection.svg?09df6cee4267b312a3882a713ef8a7b0#flaticon_mycollection") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_mycollection !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-play-button:before {
    content: "\f101";
}
.flaticon-cloud-server:before {
    content: "\f102";
}
.flaticon-funnel:before {
    content: "\f103";
}
.flaticon-user:before {
    content: "\f104";
}
.flaticon-phone:before {
    content: "\f105";
}
.flaticon-chart:before {
    content: "\f106";
}
.flaticon-report:before {
    content: "\f107";
}
.flaticon-cloud-network:before {
    content: "\f108";
}
.flaticon-report-1:before {
    content: "\f109";
}
.flaticon-label:before {
    content: "\f10a";
}
.flaticon-customer-satisfaction:before {
    content: "\f10b";
}
.flaticon-presentation:before {
    content: "\f10c";
}
.flaticon-data-network:before {
    content: "\f10d";
}
.flaticon-quotes:before {
    content: "\f10e";
}
.flaticon-linkedin:before {
    content: "\f10f";
}
.flaticon-twitter:before {
    content: "\f110";
}
.flaticon-facebook:before {
    content: "\f111";
}
.flaticon-next:before {
    content: "\f112";
}
.flaticon-back:before {
    content: "\f113";
}
.flaticon-clock:before {
    content: "\f114";
}
.flaticon-telephone-call:before {
    content: "\f115";
}
.flaticon-phone-call:before {
    content: "\f116";
}
.flaticon-next-1:before {
    content: "\f117";
}
.flaticon-down-arrow:before {
    content: "\f118";
}
.flaticon-server:before {
    content: "\f119";
}
.flaticon-diamond:before {
    content: "\f11a";
}
.flaticon-time:before {
    content: "\f11b";
}
.flaticon-clock-1:before {
    content: "\f11c";
}
.flaticon-quote:before {
    content: "\f11d";
}
.flaticon-award:before {
    content: "\f11e";
}
.flaticon-technology:before {
    content: "\f11f";
}
.flaticon-flowchart:before {
    content: "\f120";
}
.flaticon-application-settings:before {
    content: "\f121";
}
.flaticon-search:before {
    content: "\f122";
}
.flaticon-phone-call-1:before {
    content: "\f123";
}
.flaticon-protected:before {
    content: "\f124";
}
.flaticon-insight:before {
    content: "\f125";
}
.flaticon-setting:before {
    content: "\f126";
}
.flaticon-computer:before {
    content: "\f127";
}
.flaticon-data-sharing:before {
    content: "\f128";
}
.flaticon-connection:before {
    content: "\f129";
}
.flaticon-circuit:before {
    content: "\f12a";
}
.flaticon-growth:before {
    content: "\f12b";
}
.flaticon-cloud-server-1:before {
    content: "\f12c";
}
.flaticon-security:before {
    content: "\f12d";
}
.flaticon-cloud-server-2:before {
    content: "\f12e";
}
.flaticon-mail:before {
    content: "\f12f";
}
.flaticon-value:before {
    content: "\f130";
}
.flaticon-star:before {
    content: "\f131";
}
.flaticon-calendar:before {
    content: "\f132";
}
.flaticon-play:before {
    content: "\f133";
}
.flaticon-placeholder:before {
    content: "\f134";
}
.flaticon-calendar-1:before {
    content: "\f135";
}
.flaticon-quote-1:before {
    content: "\f136";
}
.flaticon-email:before {
    content: "\f137";
}
.flaticon-globe:before {
    content: "\f138";
}
.flaticon-worldwide:before {
    content: "\f139";
}
.flaticon-heart:before {
    content: "\f13a";
}
.flaticon-email-1:before {
    content: "\f13b";
}
.flaticon-pin:before {
    content: "\f13c";
}
.flaticon-call:before {
    content: "\f13d";
}
.flaticon-quotation:before {
    content: "\f13e";
}
.flaticon-pdf:before {
    content: "\f13f";
}
.flaticon-right-quote:before {
    content: "\f140";
}
.flaticon-left-quote:before {
    content: "\f141";
}
.flaticon-chat:before {
    content: "\f142";
}
.flaticon-google:before {
    content: "\f143";
}
.flaticon-left-quote-1:before {
    content: "\f144";
}
.flaticon-play-button-arrowhead:before {
    content: "\f145";
}
.flaticon-back-in-time:before {
    content: "\f146";
}
.flaticon-star-1:before {
    content: "\f147";
}
.flaticon-calendar-2:before {
    content: "\f148";
}
.flaticon-left:before {
    content: "\f149";
}
.flaticon-down:before {
    content: "\f14a";
}
.flaticon-quote-2:before {
    content: "\f14b";
}
.flaticon-bubble-chat:before {
    content: "\f14c";
}
.flaticon-run:before {
    content: "\f14d";
}
.flaticon-whatsapp:before {
    content: "\f14e";
}
.flaticon-star-2:before {
    content: "\f14f";
}
.flaticon-quotation-1:before {
    content: "\f150";
}
.flaticon-quotation-2:before {
    content: "\f151";
}
.flaticon-straight-quotes:before {
    content: "\f152";
}
.flaticon-management:before {
    content: "\f153";
}
.flaticon-report-2:before {
    content: "\f154";
}
.flaticon-youtube:before {
    content: "\f155";
}
.flaticon-instagram:before {
    content: "\f156";
}
.flaticon-whatsapp-1:before {
    content: "\f157";
}
.flaticon-comment:before {
    content: "\f158";
}
.flaticon-running:before {
    content: "\f159";
}
.flaticon-youtube-1:before {
    content: "\f15a";
}
.flaticon-instagram-1:before {
    content: "\f15b";
}
