<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Link Of CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.rtl.min.css">
        <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
        <link rel="stylesheet" href="assets/css/boxicon.min.css">
        <link rel="stylesheet" href="assets/css/flaticon_mycollection.css">
        <link rel="stylesheet" href="assets/css/scrollCue.css">
        <link rel="stylesheet" href="assets/css/rtl.css">
        <link rel="stylesheet" href="assets/css/responsive.css">

        <title>Dovi - AI & Big Data Startup HTML Template</title>
        <link rel="icon" type="image/png" href="assets/images/favicon.png">
    </head>

    <body>
        <!-- Preloader -->
        <div class="cssload-preloader">
            <div class="cssload-preloader-box">
                <div>D</div>
                <div>O</div>
                <div>V</div>
                <div>من</div>
            </div>
        </div>
        <!-- Preloader End -->
        
        <!-- Start Header Area -->
        <div class="header-area">
            <!-- Start Top Header Area -->
            <div class="top-header-area style">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-7 col-lg-7 col-md-8">
                            <div class="top-header-info">
                                <ul>
                                    <li>نشانی:<a href="https://www.google.com/" target="_blank">No. 12, Ribbon Wales  Australia</a>
                                    </li>
                                    <li>به ما ایمیل بزنید:<a href="/cdn-cgi/l/email-protection#d5b1baa3bce1e6e7e095b2b8b4bcb9fbb6bab8"><span class="__cf_email__" data-cfemail="1f7b7069762b2c2d2a5f78727e7673317c7072">[ایمیل محافظت شده]</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-4">
                            <div class="top-header-social">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank">
                                            <i class='bx bxl-facebook'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com/" target="_blank">
                                            <i class='bx bxl-twitter'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/" target="_blank">
                                            <i class='bx bxl-instagram'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.google.com/" target="_blank">
                                            <i class='bx bxl-google'></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Top Header Area -->
    
            <!-- Navbar Area Start -->
            <nav class="wile-navbar style-three navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/images/logo.png" alt="Logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">صفحه اصلی</a>
    
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" href="index.html">نسخه ی نمایشی خانه - یک</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="index-2.html">نسخه ی نمایشی خانه - دو</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item active" href="index-3.html">نسخه ی نمایشی صفحه اصلی - سه</a>
                                    </li>
                                </ul>
                            </li>
    
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPages" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">صفحات</a>
                                
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownPages">
                                    <li>
                                        <a class="dropdown-item" href="about.html">درباره ما</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="pricing.html">قیمت گذاری</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="testimonials.html">گواهینامه ها</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="team.html">تیم</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="faq.html">سوالات متداول</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="my-account.html">حساب من</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="terms-conditions.html">شرایط و ضوابط</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="privacy-policy.html">سیاست حفظ حریم خصوصی</a></li>
                                    <li>
                                        <a class="dropdown-item" href="404.html">خطای 404</a>
                                    </li>
                                </ul>
                            </li>
                            
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCourses" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">پروژه ها</a>
    
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownCourses">
                                    <li>
                                        <a class="dropdown-item" href="projects.html">پروژه ها</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="project-details.html">جزئیات پروژه</a>
                                    </li>
                                </ul>
                            </li>
                            
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCourses" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">خدمات</a>
    
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownCourses">
                                    <li>
                                        <a class="dropdown-item" href="services.html">خدمات</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="service-details.html">جزئیات خدمات</a>
                                    </li>
                                </ul>
                            </li>
                            
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCourses" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">وبلاگ</a>
    
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownCourses">
                                    <li>
                                        <a class="dropdown-item" href="blog.html">وبلاگ</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="blog-details.html">جزئیات وبلاگ</a>
                                    </li>
                                </ul>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">با ما تماس بگیرید</a>
                            </li>
                        </ul>
    
                        <ul class="search-progress">
                        <li class="others-options d-flex align-items-center">
                            <div class="all-time d-flex align-items-center">
                                <a href="tel:1800001658">
                                    <i class="flaticon-telephone-call"></i>
                                </a>
                                <div class="phone">
                                    <span class="make">تماس بگیر</span>
                                    <div class="phone-content">
                                        <a href="tel:834485847324">+8344 85847 324</a>
                                    </div>
                                </div>
                            </div>

                            <div class="menu">
                                <a href="contact.html" class="common-btn">شروع کنید</a>
                            </div>
                        </li>
                    </ul>
                    </div>
                </div>
            </nav>
            <!-- Navbar Area End -->
        </div>

        <!-- Start Banner Area -->
        <div class="banner-area-three bg-color-011aa3">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6" data-cues="fadeIn" data-duration="900">
                        <div class="banner-content">
                            <h1>اتوماسیون کلان داده و علم داده برای شما</h1>
                            <p>از فرهنگ لغت بیش از 200 کلمه لاتین، ترکیب شده با تعداد انگشت شماری از ساختارهای جملات، برای تولید Lorem Ipsum استفاده می کند که منطقی به نظر می رسد.</p>
                            <div class="banner-btn">
                                <a href="#" class="common-btn">چطور کار میکند</a>
                            </div>
                            <img class="banner-shape-7" src="assets/images/shape/banner-shape-7.png" alt="image">
                            <img class="banner-shape-8" src="assets/images/shape/banner-shape-8.png" alt="image">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="banner-image" data-cues="zoomIn" data-duration="800">
                            <img class="banner-two" src="assets/images/banner/banner-image-3.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
            <!-- shape -->
            <img class="banner-shape-6" src="assets/images/shape/banner-shape-6.png" alt="image">
            <img class="banner-shape-9" src="assets/images/shape/banner-shape-9.png" alt="image">
        </div>
        <!-- End Banner Area -->

        <!-- Start Features Area -->
        <div class="features-two pt-100 pb-70">
            <div class="container">
                <div class="section-title">
                    <h2>کارهایی که ما برای مشتریان خود انجام می دهیم</h2>
                </div>
                <div class="row" data-cues="slideInUp" data-duration="900">
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="features-card">
                            <div class="features-icon">
                                <img src="assets/images/svg/features-5.svg" alt="image">
                            </div>
                            <h3>
                                <a href="service-details.html">از مرکز یادگیری هوش مصنوعی دیدن کنید</a>
                            </h3>
                            <a href="service-details.html" class="read-more">بیشتر بدانید</a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="features-card">
                            <div class="features-icon">
                                <img src="assets/images/svg/features-6.svg" alt="image">
                            </div>
                            <h3>
                                <a href="service-details.html">داده ها - تجربیات مشتری محور</a>
                            </h3>
                            <a href="service-details.html" class="read-more">بیشتر بدانید</a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="features-card">
                            <div class="features-icon">
                                <img src="assets/images/svg/features-7.svg" alt="image">
                            </div>
                            <h3>
                                <a href="service-details.html">اطلاعات بینش آگاهانه را ارائه دهید</a>
                            </h3>
                            <a href="service-details.html" class="read-more">بیشتر بدانید</a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="features-card">
                            <div class="features-icon">
                                <img src="assets/images/svg/features-8.svg" alt="image">
                            </div>
                            <h3>
                                <a href="service-details.html">بهینه سازی فرآیند کسب و کار</a>
                            </h3>
                            <a href="service-details.html" class="read-more">بیشتر بدانید</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Features Area -->

        <!-- Start About Area -->
        <div class="about-area-style pb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-image">
                            <div class="row align-items-center">
                                <div class="col-lg-8 col-md-8" data-cues="fadeIn">
                                    <img class="about-two" src="assets/images/about/about-image-2.jpg" alt="image">
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <img class="about-three" src="assets/images/about/about-image-3.jpg" alt="image">
                                    <img class="about-four" src="assets/images/about/about-image-4.jpg" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" data-cues="slideInDown" data-duration="900">
                        <div class="about-content">
                            <div class="section-heading">
                                <h2>تجزیه و تحلیل قدرتمندی که فراتر از سازمان شما است</h2>
                                <p>این یک واقعیت ثابت شده است که خواننده هنگام نگاه کردن به صفحه‌آرایش، با آیتم‌های قابل خواندن محتوای صفحه، حواسش پرت می‌شود. </p>
                            </div>
                            <ul>
                                <li>
                                    <i class='bx bx-check'></i>ایده تقبیح لذت و ستایش</li>
                                <li>
                                    <i class='bx bx-check'></i>همیشه سخت فیزیکی را انجام می دهد</li>
                                <li>
                                    <i class='bx bx-check'></i>از دردی که هیچ نتیجه ای ایجاد نمی کند جلوگیری می کند</li>
                            </ul>
                            <a href="about.html" class="common-btn">ادامه مطلب</a>
                        </div>
                    </div>
                </div>
            </div>
            <img class="about-shape-4" src="assets/images/shape/about-shape-4.png" alt="image">
        </div>
        <!-- End About Area -->

        <!-- Start Fun Fact Area -->
        <div class="fun-fact-area fun-fact-area-three pt-100 pb-70" data-cues="slideInUp" data-duration="900">
            <div class="container">
                <div class="fun-fact">
                    <div class="row justify-content-center">
                        <div class="data">
                            <h3>765</h3>
                            <p>پروژه اجرا شد</p>
                        </div>
                        <div class="data one">
                            <h3>1792</h3>
                            <p>تجزیه و تحلیل داده ها</p>
                        </div>
                        <div class="data three">
                            <h3>871</h3>
                            <p>مشتریان راضی</p>
                        </div>
                        <div class="data four">
                            <h3>1335</h3>
                            <p>مدیریت اطلاعات</p>
                        </div>
                        <div class="data five">
                            <h3>341</h3>
                            <p>دانشمندان متخصص</p>
                        </div>
                    </div>
                </div>
            </div>
            <img class="fun-fact-2" src="assets/images/shape/fun-fact-2.png" alt="image">
        </div>
        <!-- End Fun Fact Area -->

        <!-- Start Experience Area -->
        <div class="experience-area pt-100">
            <div class="container">
                <div class="experience" data-cues="zoomIn" data-duration="800">
                    <div class="section-title">
                        <h2>امکان الهام بخش برای تجربه دیجیتال یک برند</h2>
                    </div>
                    <div class="experience-image">
                        <img class="background-image-three" src="assets/images/background/background-image-3.jpg" alt="image">
                        <div class="modal-btn">
                            <a class="popup-youtube popup-btn" data-bs-toggle="modal" data-bs-target="#FirstModal" href="#">
                                <i class="flaticon-play"></i>
                            </a>
                            <p>پخش ویدئو</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Experience Area -->

        <!-- Start Features Area -->
        <div class="features-area-three pb-70 bg-color-f4f9ff">
            <div class="container">
                <div class="features-top">
                    <div class="row" data-cues="slideInUp" data-duration="900">
                        <div class="col-lg-7 col-md-8">
                            <div class="section-heading">
                                <h2>ما خدمات مفیدی ارائه می دهیم</h2>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-4">
                            <div class="service-btn">
                                <a href="service.html" class="common-btn">مشاهده همه خدمات</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center" data-cues="slideInUp" data-duration="900">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-features-card">
                            <div class="features-icon">
                                <img src="assets/images/svg/features-9.svg" alt="image">
                            </div>
                            <h3>
                                <a href="service-details.html">تجزیه و تحلیل داده ها</a>
                            </h3>
                            <p>انواع مختلفی از پاس‌های دیگری از Lorem Ipsum موجود است، اما مواردی که اکثریت از آن رنج می‌برند بسیار کنار گذاشته شده است.</p>
                            <a href="service-details.html" class="read-more">ادامه مطلب</a>
                            <img class="features-shape" src="assets/images/svg/features-12.svg" alt="image">
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-features-card">
                            <div class="features-icon">
                                <img src="assets/images/svg/features-10.svg" alt="image">
                            </div>
                            <h3>
                                <a href="service-details.html">خدمات کلان داده</a>
                            </h3>
                            <p>انواع مختلفی از پاس‌های دیگری از Lorem Ipsum موجود است، اما مواردی که اکثریت از آن رنج می‌برند بسیار کنار گذاشته شده است.</p>
                            <a href="service-details.html" class="read-more">ادامه مطلب</a>
                            <img class="features-shape" src="assets/images/svg/features-13.svg" alt="image">
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-features-card">
                            <div class="features-icon">
                                <img src="assets/images/svg/features-11.svg" alt="image">
                            </div>
                            <h3>
                                <a href="service-details.html">تجسم داده ها</a>
                            </h3>
                            <p>انواع مختلفی از پاس‌های دیگری از Lorem Ipsum موجود است، اما مواردی که اکثریت از آن رنج می‌برند بسیار کنار گذاشته شده است.</p>
                            <a href="service-details.html" class="read-more">ادامه مطلب</a>
                            <img class="features-shape" src="assets/images/svg/features-14.svg" alt="image">
                        </div>
                    </div>
                </div>
            </div>
            <img class="service-shape-1" src="assets/images/shape/service-shape-1.png" alt="image">
            <img class="service-shape-2" src="assets/images/shape/service-shape-2.png" alt="image">
        </div>
        <!-- End Features Area -->

        <!-- Start Solution Area -->
        <div class="solution-area pt-100 pb-70">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="solution-content">
                            <div class="section-heading">
                                <h2>ما تکنیک ها و راه حل های تجزیه و تحلیل داده های بزرگ را ارائه می دهیم</h2>
                                <p>ژنراتورهای Lorem Ipsum در اینترنت تمایل دارند تکه های از پیش تعریف شده را در صورت لزوم تکرار کنند و این اولین مولد واقعی در اینترنت باشد. </p>
                            </div>
                            <div class="row" data-cues="slideInUp" data-duration="500">
                                <div class="col-lg-6 col-md-6">
                                    <div class="single-solution">
                                        <div class="solution-warp">
                                            <div class="serial">01</div>
                                            <h4>مشکل هوش مصنوعی را شناسایی کنید</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="single-solution">
                                        <div class="solution-warp">
                                            <div class="serial">02</div>
                                            <h4>راه حل داده های دقیق</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="single-solution">
                                        <div class="solution-warp">
                                            <div class="serial">03</div>
                                            <h4>Collect Data With Advance</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="single-solution">
                                        <div class="solution-warp">
                                            <div class="serial">04</div>
                                            <h4>مشاور طرح کسب و کار</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="about.html" class="common-btn">ادامه مطلب</a>
                            <img class="solution-shape-2" src="assets/images/shape/solution-shape-2.png" alt="image">
                        </div>
                    </div>
                    <div class="col-lg-6" data-cues="zoomIn" data-duration="800">
                        <div class="solution-image">
                            <img class="about-image-7" src="assets/images/about/about-image-7.png" alt="image">
                            <img class="solution-shape-3 rotate" src="assets/images/shape/solution-shape-3.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Solution Area -->

        <!-- Start Partner Area -->
        <div class="partner-area pt-100 pb-70 bg-color-f5faff" data-cues="slideInUp" data-duration="800">
            <div class="container">
                <div class="section-title">
                    <h2>ما از بیش از 100 هزار مشتری مراقبت می کنیم</h2>
                </div>
                <div class="partner-item"> 
                    <div class="swiper mySwiperPartner">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"> 
                                <div class="partner-logo">
                                    <a href="#" class="d-inline-block">
                                        <img src="assets/images/logo/logo-1.png" alt="image">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="partner-logo">
                                    <a href="#" class="d-inline-block">
                                        <img src="assets/images/logo/logo-2.png" alt="image">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="partner-logo">
                                    <a href="#" class="d-inline-block">
                                        <img src="assets/images/logo/logo-3.png" alt="image">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="partner-logo">
                                    <a href="#" class="d-inline-block">
                                        <img src="assets/images/logo/logo-4.png" alt="image">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="partner-logo">
                                    <a href="#" class="d-inline-block">
                                        <img src="assets/images/logo/logo-5.png" alt="image">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="partner-logo">
                                    <a href="#" class="d-inline-block">
                                        <img src="assets/images/logo/logo-6.png" alt="image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Partner Area -->

        <!-- Testimonials Area Start -->
        <div class="testimonials-area pb-70 bg-color-f5faff" data-cues="slideInUp" data-duration="900">
            <div class="container">
                <div class="testimonial-slider-content">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testimonial-card">
                                    <ul>
                                        <li><i class='bx bxs-star'></i></li>
                                        <li><i class='bx bxs-star'></i></li>
                                        <li><i class='bx bxs-star'></i></li>
                                        <li><i class='bx bxs-star'></i></li>
                                        <li><i class='bx bxs-star'></i></li>
                                    </ul>
                                    <div class="patients-content">
                                        <P>“There are many variations of passages of Lorem Ipsum avaiable majrity have suffered alteration in some form, by injected humour, or randomi swhich don't look even slightly believable. If you going to use a passage”</P>
                                        <div class="testimonial-img d-flex align-items-center">
                                            <img class="me-4" src="assets/images/user/user-image-7.jpg" alt="image">
                                            <div>
                                                <h4 class="mb-2">لیونل رابرتسون</h4>
                                                <span>مدیر ارشد</span>
                                            </div>
                                        </div>
                                        <img class="quote-icon" src="assets/images/svg/quote.svg" alt="image">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-card">
                                    <ul>
                                        <li><i class='bx bxs-star'></i></li>
                                        <li><i class='bx bxs-star'></i></li>
                                        <li><i class='bx bxs-star'></i></li>
                                        <li><i class='bx bxs-star'></i></li>
                                        <li><i class='bx bxs-star'></i></li>
                                    </ul>
                                    <div class="patients-content">
                                        <P>“There are many variations of passages of Lorem Ipsum avaiable majrity have suffered alteration in some form, by injected humour, or randomi swhich don't look even slightly believable. If you going to use a passage”</P>
                                        <div class="testimonial-img d-flex align-items-center">
                                            <img class="me-4" src="assets/images/user/user-image-8.jpg" alt="image">
                                            <div>
                                                <h4 class="mb-2">فرانکلین باررا</h4>
                                                <span>مدیر ارشد</span>
                                            </div>
                                        </div>
                                        <img class="quote-icon" src="assets/images/svg/quote.svg" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slider-arrow">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonials Area End -->

        <!-- Start Blog Area -->
        <div class="blog-area three pt-100 pb-70">
            <div class="container">
                <div class="section-title">
                    <h2>آخرین پست های وبلاگ ما</h2>
                </div>
                <div class="row justify-content-center" data-cues="slideInUp" data-duration="900">
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-card">
                            <a href="blog-details.html">
                                <img class="blog-image-1" src="assets/images/blog/blog-image-7.jpg" alt="icon">
                            </a>
                            <ul>
                                <li><p>09 ژانویه 2023</p></li>
                                <li>توسط<a href="#">Admin</a></li>
                            </ul>
                            <h3>
                                <a href="blog-details.html">اینترنت اشیا و چرایی اهمیت آن در</a>
                            </h3>
                            <a href="blog-details.html" class="read-more">ادامه مطلب</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-card">
                            <a href="blog-details.html">
                                <img class="blog-image-1" src="assets/images/blog/blog-image-8.jpg" alt="icon">
                            </a>
                            <ul>
                                <li><p>19 ژانویه 2023</p></li>
                                <li>توسط<a href="#">Admin</a></li>
                            </ul>
                            <h3>
                                <a href="blog-details.html">اینترنت اشیا و چرایی اهمیت آن در</a>
                            </h3>
                            <a href="blog-details.html" class="read-more">ادامه مطلب</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-card">
                            <a href="blog-details.html">
                                <img class="blog-image-1" src="assets/images/blog/blog-image-9.jpg" alt="icon">
                            </a>
                            <ul>
                                <li><p>21 ژانویه 2023</p></li>
                                <li>توسط<a href="#">Admin</a></li>
                            </ul>
                            <h3>
                                <a href="blog-details.html">اینترنت اشیا و چرایی اهمیت آن در</a>
                            </h3>
                            <a href="blog-details.html" class="read-more">ادامه مطلب</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Blog Area -->

        <!-- Start Subscribe Area -->
        <div class="subscribe-area" data-cues="fadeIn" data-duration="900">
            <div class="container">
                <div class="subscribe">
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <div class="section-heading">
                                <h2>به خبرنامه ما بپیوندید و به روز شوید</h2>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Your Email">
                                    <button type="submit" class="common-btn">اکنون مشترک شوید</button>
                                </div>
                                <img class="newsletter-shape-6" src="assets/images/shape/newsletter-shape-6.png" alt="image">
                            </form>
                        </div>
                    </div>
                    <img class="newsletter-shape-5" src="assets/images/shape/newsletter-shape-5.png" alt="image">
                </div>
            </div>
        </div>
        <!-- End Subscribe Area -->

        <!-- Start Footer Area -->
        <div class="footer-area pt-100 pb-70 bg-color-f7faff" data-cues="slideInUp" data-duration="800">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="footer-widget">
                            <a href="index.html">
                                <img class="footer-logo" src="assets/images/logo.png" alt="image">
                            </a>
                            <p>در اینجا انواع مختلفی از قسمت‌های Lorem Ipsum موجود است، اما اکثریت آنها با طنز تزریقی یا کلمات تصادفی‌سازی شده دچار تغییر شده‌اند که حتی اندکی هم باورپذیر به نظر نمی‌رسند. </p>
                            
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class='bx bxl-facebook'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" target="_blank">
                                        <i class='bx bxl-twitter'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class='bx bxl-instagram instagram'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/" target="_blank">
                                        <i class='bx bxl-google instagram'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
                        <div class="footer-widget-style">
                            <h3>پیوندها</h3>
                            <ul>
                                <li><a href="index.html">صفحه اصلی</a></li>
                                <li><a href="pricing.html">قیمت گذاری</a></li>
                                <li><a href="about.html">درباره ما</a></li>
                                <li><a href="service.html">خدمات</a></li>
                                <li><a href="blog.html">وبلاگ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
                        <div class="footer-widget-style">
                            <h3>خدمات</h3>
                            <ul>
                                <li><a href="service-details.html">تجزیه و تحلیل داده ها</a></li>
                                <li><a href="service-details.html">هوش مصنوعی</a></li>
                                <li><a href="service-details.html">تجسم داده ها</a></li>
                                <li><a href="service-details.html">یادگیری عمیق</a></li>
                                <li><a href="service-details.html">مدل سازی آماری</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
                        <div class="footer-widget-style">
                            <h3>مجاز</h3>
                            <ul>
                                <li><a href="team.html">شرایط استفاده</a></li>
                                <li><a href="terms-conditions.html">شرایط و ضوابط</a></li>
                                <li><a href="privacy-policy.html">سیاست حفظ حریم خصوصی</a></li>
                                <li><a href="privacy-policy.html">پلیس کوکی</a></li>
                                <li><a href="contact.html">با ما تماس بگیرید</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
                        <div class="footer-widget-style location">
                            <h3>مخاطب</h3>
                            <ul>
                                <li>
                                    <i class="flaticon-telephone-call"></i>
                                    <a href="tel:80021620232">(800) 216 20232</a>
                                </li>
                                <li>
                                    <i class="flaticon-email"></i>
                                    <a href="/cdn-cgi/l/email-protection#2b4f445d426b42454d4405484446"><span class="__cf_email__" data-cfemail="375358415e775e5951581954585a">[ایمیل محافظت شده]</span></a>
                                </li>
                                <li>
                                    <i class="flaticon-placeholder"></i>
                                    <span>شماره 12، ساختمان روبان، ولز استرالیا</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Area -->

        <!-- Start Copy Area -->
        <div class="copy-area bg-color-f7faff">
            <div class="container">
                <div class="copy">
                    <p>کپی رایت<span>Dovi </span>تمامی حقوق محفوظ است<a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
                </div>
            </div>
        </div>
        <!-- End Copy Area -->

        <!-- Start Go Top Area -->
        <div class="scrolltop-wrap">
            <a href="#" role="button" aria-label="Scroll to top">
                <div id="scrolltop-arrow">
                    <i class='bx bx-chevrons-up'></i>
                </div> 
            </a>
        </div>
        <!-- End Go Top Area -->

        <!-- Modal -->
        <div class="modal fade popup-modal" id="FirstModal" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <iframe class="video-bg-btn" src="https://www.youtube.com/embed/u9prcUCHlqM" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->

        <!-- Link Of JS -->
        <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/swiper-bundle.min.js"></script>
        <script src="assets/js/scrollCue.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>