{% load static %}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Link Of CSS -->
        <link rel="stylesheet" href="{% static 'front/assets/css/bootstrap.rtl.min.css' %}">
        <link rel="stylesheet" href="{% static 'front/assets/css/swiper-bundle.min.css' %}">
        <link rel="stylesheet" href="{% static 'front/assets/css/boxicon.min.css' %}">
        <link rel="stylesheet" href="{% static 'front/assets/css/flaticon_mycollection.css' %}">
        <link rel="stylesheet" href="{% static 'front/assets/css/scrollCue.css' %}">
        <link rel="stylesheet" href="{% static 'front/assets/css/rtl.css' %}">
        <link rel="stylesheet" href="{% static 'front/assets/css/responsive.css' %}">

        <title>پروژه های مکا </title>
        <link rel="icon" type="image/png" href="{e% static 'front/assets/images/logo1.png' %}">
    </head>

    <body>
        <!-- Preloader -->

        <!-- Preloader End -->
        
        <!-- Start Header Area -->
        <div class="header-area">
            <!-- Start Top Header Area -->
            <div class="top-header-area style">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-7 col-lg-7 col-md-8">
                            <div class="top-header-info">
                                <ul>
                                    <li>نشانی:<a href="https://www.google.com/" target="_blank">No. 12, Ribbon Wales  Australia</a>
                                    </li>
                                    <li>به ما ایمیل بزنید:<a href="/cdn-cgi/l/email-protection#97f3f8e1fea3a4a5a2d7f0faf6fefbb9f4f8fa"><span class="__cf_email__" data-cfemail="e0848f9689d4d3d2d5a0878d81898cce838f8d">[ایمیل محافظت شده]</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-4">
                            <div class="top-header-social">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank">
                                            <i class='bx bxl-facebook'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com/" target="_blank">
                                            <i class='bx bxl-twitter'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/" target="_blank">
                                            <i class='bx bxl-instagram'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.google.com/" target="_blank">
                                            <i class='bx bxl-google'></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Top Header Area -->
    
            <!-- Navbar Area Start -->
                {% block navbar %}
                {% include 'front/navbar.html'  %}
                {% endblock navbar  %}

        {% if messages %}
        {% for msg in messages %}
            <div  class="alert alert-primary" role="alert">
                {{ msg }}
            </div>
        {% endfor %}
        {% endif %}

            <!-- Navbar Area End -->
        </div>

        <!-- Start Page Banner Area -->
        <div class="page-banner-area">
            <div class="container">
                <div class="page-heading">
                    <h1>پروژه ها</h1>
                    <ul>
                        <li>
                            <a href="{% url 'home:home'  %}">صفحه اصلی</a>
                        </li>
                        <li>پروژه ها</li>
                    </ul>
                    <!-- shape -->
                    <img class="page-shape-1 moveVertical" src="{% static 'front/assets/images/shape/page-banner-shape-1.png' %}" alt="image">
                    <img class="page-shape-2 rotate" src="{% static 'front/assets/images/shape/page-banner-shape-2.png' %}" alt="image">
                </div>
            </div>
        </div>
        <!-- End Page Banner Area -->

        <!-- Start Project Page Area -->
        <div class="project-page-area pt-100 pb-70">
            <div class="container">
                <div class="row">
                    {% for i in projects %}
                    <div class="col-lg-6">
                        <div class="gallery-card">
                            <div class="gallery-image">
                                <div class="gallery">
                                    <img class="gallery-five center" src="{{ i.picture.url }}" alt="image">

                                    <div class="popup-know">
                                        <a href="{{ i.get_absolute_url }}">
                                             <i class="bx bx-plus"></i>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <h3 class="mb-0 center">
                                <a href="{{ i.get_absolute_url }}">{{ i.title }}</a>
                            </h3>
                        </div>
                    </div>
                    {% endfor %}
  
                </div>
            </div>
            
            <div class="service-pagination">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if projects.has_previous %}
                        <li class="page-item">
                            <a class="page-link active" href="{% url 'projects:total_projects' projects.previous_page_number  %}">قبلی</a>
                        </li>
                        {% endif %}

                        {%  if projects.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="{% url 'projects:total_projects' projects.next_page_number  %}">بعدی</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        <!-- End Project Page Area -->

        <!-- Start Footer Area -->
                    {% block footer %}
                        {% include 'front/footer.html' %}
                    {% endblock footer %}
        <!-- End Footer Area -->

        <!-- Start Copy Area -->
        {% block copy_area %}
        {% include 'front/copy_area.html' %}
        {% endblock copy_area %}
        <!-- End Copy Area -->

        <!-- Start Go Top Area -->
        <div class="scrolltop-wrap">
            <a href="#" role="button" aria-label="Scroll to top">
                <div id="scrolltop-arrow">
                    <i class='bx bx-chevrons-up'></i>
                </div> 
            </a>
        </div>
        <!-- End Go Top Area -->

        <!-- Modal -->
        <div class="modal fade popup-modal" id="FirstModal" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <iframe class="video-bg-btn" src="https://www.youtube.com/embed/u9prcUCHlqM" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->

<!-- Link Of JS -->
        <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="{% static 'front/assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'front/assets/js/swiper-bundle.min.js' %}"></script>
        <script src="{% static 'front/assets/js/scrollCue.min.js' %}"></script>
        <script src="{% static 'front/assets/js/main.js' %}"></script>
    </body>
</html>