<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Link Of CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.rtl.min.css">
        <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
        <link rel="stylesheet" href="assets/css/boxicon.min.css">
        <link rel="stylesheet" href="assets/css/flaticon_mycollection.css">
        <link rel="stylesheet" href="assets/css/scrollCue.css">
        <link rel="stylesheet" href="assets/css/rtl.css">
        <link rel="stylesheet" href="assets/css/responsive.css">

        <title>Dovi - AI & Big Data Startup HTML Template</title>
        <link rel="icon" type="image/png" href="assets/images/favicon.png">
    </head>

    <body>
        <!-- Preloader -->
        <div class="cssload-preloader">
            <div class="cssload-preloader-box">
                <div>D</div>
                <div>O</div>
                <div>V</div>
                <div>من</div>
            </div>
        </div>
        <!-- Preloader End -->
        
        <!-- Start Header Area -->
        <div class="header-area">
            <!-- Start Top Header Area -->
            <div class="top-header-area style">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-7 col-lg-7 col-md-8">
                            <div class="top-header-info">
                                <ul>
                                    <li>نشانی:<a href="https://www.google.com/" target="_blank">No. 12, Ribbon Wales  Australia</a>
                                    </li>
                                    <li>به ما ایمیل بزنید:<a href="/cdn-cgi/l/email-protection#f69299809fc2c5c4c3b6919b979f9ad895999b"><span class="__cf_email__" data-cfemail="9ffbf0e9f6abacadaadff8f2fef6f3b1fcf0f2">[ایمیل محافظت شده]</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-4">
                            <div class="top-header-social">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank">
                                            <i class='bx bxl-facebook'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com/" target="_blank">
                                            <i class='bx bxl-twitter'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/" target="_blank">
                                            <i class='bx bxl-instagram'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.google.com/" target="_blank">
                                            <i class='bx bxl-google'></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Top Header Area -->
    
            <!-- Navbar Area Start -->
            <nav class="wile-navbar style-three navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/images/logo.png" alt="Logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">صفحه اصلی</a>
    
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" href="index.html">نسخه ی نمایشی خانه - یک</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="index-2.html">نسخه ی نمایشی خانه - دو</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="index-3.html">نسخه ی نمایشی صفحه اصلی - سه</a>
                                    </li>
                                </ul>
                            </li>
    
                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownPages" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">صفحات</a>
                                
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownPages">
                                    <li>
                                        <a class="dropdown-item" href="about.html">درباره ما</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="pricing.html">قیمت گذاری</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="testimonials.html">گواهینامه ها</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="team.html">تیم</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="faq.html">سوالات متداول</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="my-account.html">حساب من</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item active" href="terms-conditions.html">شرایط و ضوابط</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="privacy-policy.html">سیاست حفظ حریم خصوصی</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="404.html">خطای 404</a>
                                    </li>
                                </ul>
                            </li>
    
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCourses" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">پروژه ها</a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownCourses">
                                <li>
                                    <a class="dropdown-item" href="projects.html">پروژه ها</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="project-details.html">جزئیات پروژه</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCourses" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">خدمات</a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownCourses">
                                <li>
                                    <a class="dropdown-item" href="services.html">خدمات</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="service-details.html">جزئیات خدمات</a>
                                </li>
                            </ul>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCourses" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">وبلاگ</a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownCourses">
                                <li>
                                    <a class="dropdown-item" href="blog.html">وبلاگ</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="blog-details.html">جزئیات وبلاگ</a>
                                </li>
                            </ul>
                        </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">با ما تماس بگیرید</a>
                            </li>
                        </ul>
    
                        <ul class="search-progress">
                        <li class="others-options d-flex align-items-center">
                            <div class="all-time d-flex align-items-center">
                                <a href="tel:1800001658">
                                    <i class="flaticon-telephone-call"></i>
                                </a>
                                <div class="phone">
                                    <span class="make">تماس بگیر</span>
                                    <div class="phone-content">
                                        <a href="tel:834485847324">+8344 85847 324</a>
                                    </div>
                                </div>
                            </div>

                            <div class="menu">
                                <a href="contact.html" class="common-btn">شروع کنید</a>
                            </div>
                        </li>
                    </ul>
                    </div>
                </div>
            </nav>
            <!-- Navbar Area End -->
        </div>

        <!-- Start Page Banner Area -->
        <div class="page-banner-area">
            <div class="container">
                <div class="page-heading">
                    <h1>شرایط و ضوابط</h1>
                    <ul>
                        <li>
                            <a href="index.html">صفحه اصلی</a>
                        </li>
                        <li>شرایط و ضوابط</li>
                    </ul>
                    <!-- shape -->
                    <img class="page-shape-1 moveVertical" src="assets/images/shape/page-banner-shape-1.png" alt="image">
                    <img class="page-shape-2 rotate" src="assets/images/shape/page-banner-shape-2.png" alt="image">
                </div>
            </div>
        </div>
        <!-- End Page Banner Area -->

        <!-- Patients & Visitors Area Start -->
        <div class="visitors-area pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="visitors-info terms">
                            <div class="hospital-visitors">
                                <h3>وب سایت ما</h3>
                                <p>بسیاری از بسته‌های انتشارات دسک‌تاپ و صفحات وب، Lorem Ipsum را به‌عنوان متن مدل پیش‌فرض خود ویرایش می‌کنند، و جستجوی «lorem ipsum» بسیاری از وب‌سایت‌ها را که هنوز در سایت خود هستند، کشف می‌کند. </p>
                                <p>انواع مختلفی از قسمت‌های Lorem Ipsum موجود است، اما اکثر آنها دچار تغییراتی در برخی از اشکال طنز تزریقی یا کلمات تصادفی شده‌اند که حتی کمی باورپذیر به نظر نمی‌رسند.</p>
                                <p>اگر می‌خواهید از قسمتی از Lorem Ipsum استفاده کنید، باید مطمئن شوید که چیز شرم‌آوری در وسط متن پنهان نشود. </p>
                            </div>
                            <div class="hospital-visitors">
                                <h3>داده هایی که در اختیار ما قرار می دهید</h3>
                                <p>از فرهنگ لغت بیش از 200 کلمه لاتین، همراه با تعداد انگشت شماری جمله مدلی استفاده می کند که ساختار Lorem Ipsum را ایجاد می کند که منطقی به نظر می رسد. </p>
                                <p>برخلاف تصور رایج، Lorem Ipsum یک متن تصادفی نیست. </p>
                            </div>
                            <div class="hospital-visitors">
                                <h3>چگونه ما داده های مربوط به شما را دریافت می کنیم</h3>
                                <p>لورم ایپسوم برگرفته از بخش‌های 1.10.32 و 1.10.33 از de Finibus BonMalorum (افراد خیر و شر) توسط سیسرو است که در سال 45 قبل از میلاد نوشته شده است. </p>
                                <p>تکه استاندارد Lorem Ipsum که از آن زمان استفاده شده است در زیر برای علاقه مندان بازتولید شده است. </p>
                            </div>
                            <div class="hospital-visitors">
                                <h3>برای چه از داده های شما استفاده می کنیم</h3>
                                <p>این یک واقعیت ثابت شده است که خواننده به دلیل محتوای قابل خواندن یک صفحه هنگام نگاه کردن به طرح بندی آن، جان خود را از دست می دهد. </p>
                                <p>بسیاری از بسته‌های انتشارات دسکتاپ و یا صفحات وب اکنون از Lorem Ipsum به عنوان متن مدل پیش‌فرض خود و جستجو برای تصادف، گاهی اوقات عمدی (طنز تزریقی و موارد مشابه) استفاده می‌کنند.</p>
                            </div>
                            <div class="hospital-visitors">
                                <h3>انتخاب های شما در مورد استفاده از داده های شما</h3>
                                <p>لورم ایپسوم برگرفته از بخش‌های 1.10.32 و 1.10.33 از de Fininorum et Malorum (افراد خیر و شر) توسط سیسرو است که در سال 45 قبل از میلاد نوشته شده است. </p>
                                <p>قطعه استاندارد لورم ایپسوم که از دهه 1500 استفاده شده است برای علاقه مندان تولید می شود. </p>
                            </div>
                            <div class="hospital-visitors">
                                <h3>سیاست ما در مورد کودکان</h3>
                                <p>بسیاری از بسته‌های انتشارات رومیزی و ویرایشگرهای صفحه وب اکنون از Ipsum به عنوان متن مدل پیش‌فرض خود استفاده می‌کنند، و جستجوی «lorem ipsum» نشان می‌دهد که بسیاری از وب‌سایت‌ها هنوز در نسخه‌های ساده خود در طول سال‌ها تکامل یافته‌اند، گاهی اوقات تصادفی، گاهی اوقات عمدی (تزریق شده </p>
                                <p>انواع مختلفی از قسمت‌های لورم ایپسوم در دسترس است، اما مایوها به شکلی دچار تغییراتی شده‌اند، با طنز تزریقی یا کلمات تصادفی که حتی کمی باورپذیر به نظر نمی‌رسند.</p>
                                <p>اگر می‌خواهید از قسمتی از Lorem Ipsum استفاده کنید، باید مطمئن باشید که هیچ چیز شرم‌آوری در وسط متن پنهان نشود. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Patients & Visitors Area End -->

        <!-- Start Subscribe Area -->
        <div class="subscribe-area">
            <div class="container">
                <div class="subscribe">
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <div class="section-heading">
                                <h2>به خبرنامه ما بپیوندید و به روز شوید</h2>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Your Email">
                                    <button type="submit" class="common-btn">اکنون مشترک شوید</button>
                                </div>
                                <img class="newsletter-shape-6" src="assets/images/shape/newsletter-shape-6.png" alt="image">
                            </form>
                        </div>
                    </div>
                    <img class="newsletter-shape-5" src="assets/images/shape/newsletter-shape-5.png" alt="image">
                </div>
            </div>
        </div>
        <!-- End Subscribe Area -->

        <!-- Start Footer Area -->
        <div class="footer-area pt-100 pb-70 bg-color-f7faff">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="footer-widget">
                            <a href="index.html">
                                <img class="footer-logo" src="assets/images/logo.png" alt="image">
                            </a>
                            <p>در اینجا انواع مختلفی از قسمت‌های Lorem Ipsum موجود است، اما اکثریت آنها با طنز تزریقی یا کلمات تصادفی‌سازی شده دچار تغییر شده‌اند که حتی اندکی هم باورپذیر به نظر نمی‌رسند. </p>
                            
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class='bx bxl-facebook'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" target="_blank">
                                        <i class='bx bxl-twitter'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class='bx bxl-instagram instagram'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/" target="_blank">
                                        <i class='bx bxl-google instagram'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
                        <div class="footer-widget-style">
                            <h3>پیوندها</h3>
                            <ul>
                                <li><a href="index.html">صفحه اصلی</a></li>
                                <li><a href="pricing.html">قیمت گذاری</a></li>
                                <li><a href="about.html">درباره ما</a></li>
                                <li><a href="service.html">خدمات</a></li>
                                <li><a href="blog.html">وبلاگ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
                        <div class="footer-widget-style">
                            <h3>خدمات</h3>
                            <ul>
                                <li><a href="service-details.html">تجزیه و تحلیل داده ها</a></li>
                                <li><a href="service-details.html">هوش مصنوعی</a></li>
                                <li><a href="service-details.html">تجسم داده ها</a></li>
                                <li><a href="service-details.html">یادگیری عمیق</a></li>
                                <li><a href="service-details.html">مدل سازی آماری</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
                        <div class="footer-widget-style">
                            <h3>مجاز</h3>
                            <ul>
                                <li><a href="team.html">شرایط استفاده</a></li>
                                <li><a href="terms-conditions.html">شرایط و ضوابط</a></li>
                                <li><a href="privacy-policy.html">سیاست حفظ حریم خصوصی</a></li>
                                <li><a href="privacy-policy.html">پلیس کوکی</a></li>
                                <li><a href="contact.html">با ما تماس بگیرید</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
                        <div class="footer-widget-style location">
                            <h3>مخاطب</h3>
                            <ul>
                                <li>
                                    <i class="flaticon-telephone-call"></i>
                                    <a href="tel:80021620232">(800) 216 20232</a>
                                </li>
                                <li>
                                    <i class="flaticon-email"></i>
                                    <a href="/cdn-cgi/l/email-protection#0d69627b644d64636b62236e6260"><span class="__cf_email__" data-cfemail="15717a637c557c7b737a3b767a78">[ایمیل محافظت شده]</span></a>
                                </li>
                                <li>
                                    <i class="flaticon-placeholder"></i>
                                    <span>شماره 12، ساختمان روبان، ولز استرالیا</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Area -->

        <!-- Start Copy Area -->
        <div class="copy-area bg-color-f7faff">
            <div class="container">
                <div class="copy">
                    <p>کپی رایت<span>Dovi </span>تمامی حقوق محفوظ است<a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
                </div>
            </div>
        </div>
        <!-- End Copy Area -->

        <!-- Start Go Top Area -->
        <div class="scrolltop-wrap">
            <a href="#" role="button" aria-label="Scroll to top">
                <div id="scrolltop-arrow">
                    <i class='bx bx-chevrons-up'></i>
                </div> 
            </a>
        </div>
        <!-- End Go Top Area -->

        <!-- Link Of JS -->
        <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/swiper-bundle.min.js"></script>
        <script src="assets/js/scrollCue.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>